<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/main-style.css"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" sizes="16x16">
    <title>ℋℴℊ𝓌𝒶𝓇𝓉𝓈ℊ𝓇𝒶𝓂</title>
    <script>
        $(function () {
// 	이미지 클릭시 해당 이미지 모달
            $(".icon-react icon-more").click(function () {
                $(".modal").show();
                // 해당 이미지 가겨오기
                var imgSrc = $(this).children("img").attr("src");
                var imgAlt = $(this).children("img").attr("alt");
                $(".modalBox img").attr("src", imgSrc);
                $(".modalBox img").attr("alt", imgAlt);

                // 해당 이미지 텍스트 가져오기
                var imgTit = $(this).children("p").text();
                $(".modalBox p").text(imgTit);

                // 해당 이미지에 alt값을 가져와 제목으로
                //$(".modalBox p").text(imgAlt);
            });

            //.modal안에 button을 클릭하면 .modal닫기
            $(".modal button").click(function () {
                $(".modal").hide();
            });

            //.modal밖에 클릭시 닫힘
            $(".modal").click(function (e) {
                if (e.target.className != "modal") {
                    return false;
                } else {
                    $(".modal").hide();
                }
            });
        });
        $(function () {

            $("button").click(function () {
                $(".modal").fadeIn();
            });

            $(".modal_content").click(function () {
                $(".modal").fadeOut();
            });

        });
    </script>
</head>

<body>
<header>
    <!-- navigation -->
    <nav>
        <div class="nav-container">
            <div class="nav-1">
                <!-- <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/logo.png" alt="logo_img">
                <div class="vl"></div> -->
                <img class="logo_img" src="/static/logo2.png" alt="카메라">

                <img class="logo_instagram_txt" src="/static/logo.png" alt="logo_text">
            </div>
            <input id="searchInput" type="search" class="input-search" placeholder="검색">
            <div class="nav-2">
                <img src="/static/home.png" alt="홈">
                <img src="/static/num.png" alt="DM">
                <img src="/static/add.png" alt="추가">
                <img src="/static/explore.png" alt="탐색">
                <img src="/static/heart.png" alt="하트">
                <img class="pic"
                     src="/static/mypage.png"
                     alt="마이페이지">
            </div>
        </div>
    </nav>
</header>


<main>
    <div class="feeds">
        <div class="friends">
            <div class="story-pic">
                <div class="pic-1">
                    <img src="/static/green-ring.png" alt="슬리데린">
                </div>
                <div class="pic-2">
                    <img src="/static/yellow-ring.png" alt="슬리데린">
                </div>
                <div class="pic-2">
                    <img src="/static/blue-ring.png" alt="슬리데린">
                </div>
                <div class="pic-2">
                    <img src="/static/red-ring.png" alt="슬리데린">
                </div>
                <div class="story-name">
                    <div class="story-name1">
                        <span class="story__user">Slytherin</span>
                    </div>
                    <div class="story-name2">
                        <span class="story__user">Hufflepuff</span>
                    </div>
                    <div class="story-name3">
                        <span class="story__user">Ravenclaw</span>
                    </div>
                    <div class="story-name4">
                        <span class="story__user">Gryffindor</span>
                    </div>
                </div>
            </div>
        </div>

        <article>
            <div class="header">
                <div class="profile-of-article">
                    <img class="img-profile pic" src="/static/red.png" alt="그리핀도르">
                    <span class="userID main-id point-span">Prof.McGanagall</span>
                </div>
                <button><img class="icon-react icon-more" src="/static/more.png" alt="more"></button>
            </div>
            <div class="main-image">
                <img src="/static/start.png" alt="맥고나걸의 피드 사진" class="mainPic">
            </div>
            <div class="modal">
                <div class="modal_content" title="클릭하면 창이 닫힙니다">
                    <img src="/static/modal.png">
                </div>

            </div>

            <div class="icons-react">
                <div class="icons-left">
                    <img class="icon-react" src="/static/heart-red.png" alt="하트">
                    <img class="icon-react" src="/static/comment.png" alt="말풍선">
                    <img class="icon-react" src="/static/DM.png" alt="DM">
                </div>
                <img class="icon-react" src="/static/bookmark.png" alt="북마크">
            </div>
            <!-- article text data -->
            <div class="reaction">
                <div class="liked-people">
                    <img class="pic" src="/static/yellow.png" alt="johnnyjsuh님의 프로필 사진">
                    <p><span class="point-span">Hufflepuff 반장</span>님 <span class="point-span">외 2,412,751명</span>이
                        좋아합니다</p>
                </div>

                <div class='feed-repl-wrap'>
                    <div class='feed-repls'>
                         <span><a
                                 href="http://localhost:63342/instagram_clone/templates/Main.html?_ijt=832qif2kje5knm3n0ggqkervp0&_ij_reload=RELOAD_ON_SAVE"
                                 target="_blank" class='user-id'>Prof.McGanagall</a> 안녕하세요 여러분들!
                                오늘 호그와트에 새로운 친구들이 왔습니다.
                                마법의 모자 선별식때 뜨거운 박수 부탁드릴게요

                         <span>...</span><button class='all-repl'>더보기</button></span>
                        <span class='mention'><a href="#">댓글 5개 모두보기</a></span>

                    </div>
                </div>
                <div class="comment-section">
                    <ul class="comments">
                        <li>
                            <div>
                                <!--                                빈값-->
                            </div>
                        </li>
                        <!-- input 값 여기에 추가 -->
                    </ul>
                    <div class="time-log">
                        <span>32분 전</span>
                    </div>
                </div>
            </div>
            <div class="hl"></div>
            <div class="comment">
                <input class="input-comment" type="text" placeholder="댓글 달기...">
                <button type="submit" class="submit-comment" disabled>게시</button>
            </div>
        </article>
        <article>
            <div class="header">
                <div class="profile-of-article">
                    <img class="img-profile pic" src="/static/red.png" alt="그리핀도르">
                    <span class="userID main-id point-span">Prof.McGanagall</span>
                </div>
                <img class="icon-react icon-more" src="/static/more.png" alt="more">

            </div>
            <div class="main-image">
                <!--                <img src="/static/start.png" alt="맥고나걸의 피드 사진" class="mainPic">-->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <img src="/static/start.png" alt="Los Angeles" style="width:100%;">
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <div class="item">
                            <img src="/static/start.png" alt="Chicago" style="width:100%;">
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <div class="item">
                            <img src="/static/start.png" alt="New York" style="width:100%;">
                            <div class="carousel-caption">
                            </div>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="icons-react">
                <div class="icons-left">
                    <img class="icon-react" src="/static/heart-red.png" alt="하트">
                    <img class="icon-react" src="/static/comment.png" alt="말풍선">
                    <img class="icon-react" src="/static/DM.png" alt="DM">
                </div>
                <img class="icon-react" src="/static/bookmark.png" alt="북마크">
            </div>
            <!-- article text data -->
            <div class="reaction">
                <div class="liked-people">
                    <img class="pic" src="/static/yellow.png" alt="johnnyjsuh님의 프로필 사진">
                    <p><span class="point-span">Hufflepuff 반장</span>님 <span class="point-span">외 2,412,751명</span>이
                        좋아합니다</p>
                </div>

                <div class='feed-repl-wrap'>
                    <div class='feed-repls'>
                         <span><a
                                 href="http://localhost:63342/instagram_clone/templates/Main.html?_ijt=832qif2kje5knm3n0ggqkervp0&_ij_reload=RELOAD_ON_SAVE"
                                 target="_blank" class='user-id'>Prof.McGanagall</a> 안녕하세요 여러분들!
                                오늘 호그와트에 새로운 친구들이 왔습니다.
                                마법의 모자 선별식때 뜨거운 박수 부탁드릴게요

                         <span>...</span><button class='all-repl'>더보기</button></span>
                        <span class='mention'><a href="#">댓글 5개 모두보기</a></span>

                    </div>
                </div>
                <div class="comment-section">
                    <ul class="comments">
                        <li>
                            <div>
                                <!--                                <img class="comment-more"-->
                                <!--                                     src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png"-->
                                <!--                                     alt="more">-->
                                <!--                                <div class="comment-like">-->
                                <!--                                    <img class="comment-heart"-->
                                <!--                                         src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png"-->
                                <!--                                         alt="하트">-->
                                <!--                                    <img class="comment-heart-liked" src="img/liked.png" alt="좋아요된하트">-->
                                <!--                                </div>-->
                            </div>
                        </li>
                        <!-- input 값 여기에 추가 -->
                    </ul>
                    <div class="time-log">
                        <span>32분 전</span>
                    </div>
                </div>
            </div>
            <div class="hl"></div>
            <div class="comment">
                <input class="input-comment" type="text" placeholder="댓글 달기...">
                <button type="submit" class="submit-comment" disabled>게시</button>
            </div>
        </article>

    </div>
    <!--         main-right-->
    <section class="side-menu">
        <div class="side-menu__user-profile">
            <a href="https://namu.wiki/w/%ED%95%B4%EB%A6%AC%20%ED%8F%AC%ED%84%B0%20%EC%8B%9C%EB%A6%AC%EC%A6%88/%EB%93%B1%EC%9E%A5%EC%9D%B8%EB%AC%BC"
               target="_blank" class="side-menu__user-avatar">
                <img src="/static/mypage.png" alt="마이페이지">
            </a>
            <div class="side-menu__user-info">
                <a href="https://namu.wiki/w/%ED%95%B4%EB%A6%AC%20%ED%8F%AC%ED%84%B0%20%EC%8B%9C%EB%A6%AC%EC%A6%88/%EB%93%B1%EC%9E%A5%EC%9D%B8%EB%AC%BC"
                   target="_blank">Nado mabeobsa</a>
                <span>YUNJI LEE</span>
            </div>
            <button class="side-menu__user-button">전환</button>
        </div>
        <div class="music-player">
            <div id="lb-audio">
                <audio controls>
                    <source src="/static/bgm.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>

        <div class="side-menu__suggestions-section">
            <div class="side-menu__suggestions-header">
                <h2>회원님을 위한 추천</h2>
                <button>See All</button>
            </div>
            <div class="side-menu__suggestions-content">
                <div class="side-menu__suggestion">
                    <a href="#" class="side-menu__suggestion-avatar">
                        <img src="/static/ball.png" alt="그리핀도르">
                    </a>
                    <div class="side-menu__suggestion-info">
                        <a href="#">Sybill Patricia Trelawney</a>
                        <span>회원님을 위한 추천</span>
                    </div>
                    <button class="side-menu__suggestion-button">팔로우</button>
                </div>
                <div class="side-menu__suggestion">
                    <a href="#" class="side-menu__suggestion-avatar">
                        <img src="/static/cure.png" alt="마법약">
                    </a>
                    <div class="side-menu__suggestion-info">
                        <a href="#">Severus Snape </a>
                        <span>회원님을 위한 추천</span>
                    </div>
                    <button class="side-menu__suggestion-button">팔로우</button>
                </div>
                <div class="side-menu__suggestion">
                    <a href="#" class="side-menu__suggestion-avatar">
                        <img src="/static/user.png" alt="유저">
                    </a>
                    <div class="side-menu__suggestion-info">
                        <a href="#">harry potter</a>
                        <span>Draco Malfoy님 외 1,992명이 팔로우합니다</span>
                    </div>
                    <button class="side-menu__suggestion-button">팔로우</button>
                </div>
                <div class="side-menu__suggestion">
                    <a href="#" class="side-menu__suggestion-avatar">
                        <img src="/static/spell.png" alt="주문">
                    </a>
                    <div class="side-menu__suggestion-info">
                        <a href="#">Remus Lupin</a>
                        <span>회원님을 위한 추천</span>
                    </div>
                    <button class="side-menu__suggestion-button">팔로우</button>
                </div>

            </div>
        </div>

        <div class="side-menu__footer">
            <div class="side-menu__footer-links">
                <ul class="side-menu__footer-list">
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">About</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Help</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Press</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">API</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Jobs</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Privacy</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Terms</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Locations</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Top Accounts</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Hashtag</a>
                    </li>
                    <li class="side-menu__footer-item">
                        <a class="side-menu__footer-link" href="#">Language</a>
                    </li>
                </ul>
            </div>

            <span class="side-menu__footer-copyright">© 2022 Hogwatsgram from sparta</span>
        </div>
    </section>
</main>

<footer>

</footer>

</body>

</html>