<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/mypage.css"/>
    <script src="/static/mypage.js"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" sizes="16x16">
    <title>ℋℴℊ𝓌𝒶𝓇𝓉𝓈ℊ𝓇𝒶𝓂</title>

</head>
<body>
<!-- navigation -->
<nav>
    <div class="nav-container">
        <div class="nav-1">
            <img class="logo_img" src="/static/camera.png" alt="카메라">
            <a href="#"><img class="logo_instagram_txt" src="/static/logo.png" alt="logo_text"></a>
        </div>
        <input id="searchInput" type="search" class="input-search" placeholder="검색">
        <div class="nav-2">
            <img src="/static/home.png" alt="홈">
            <img src="/static/num.png" alt="DM">
            <img src="/static/add.png" alt="추가">
            <img src="/static/explore.png" alt="탐색">
            <img src="/static/heart.png" alt="하트">
            <img class="pic"
                 src="/static/mypage.png"
                 alt="마이페이지">
        </div>
    </div>
</nav>

<section>
    <!--빈값-->
</section>
<!--마이페이지 이미지-->
<aside>
    <div id="mypage-body">
        <div class="mypage-img">
            <a href="http://localhost:63342/instagram_clone/templates/main.html?_ijt=21qd2kngilcl2280r3ls2uenmn&_ij_reload=RELOAD_ON_SAVE">
                <img src="/static/mypage-logo.png" alt="마이페이지"></a>
        </div>

    </div>
</aside>

<!--프로필-->
<main>
    <div class="names-1">
        <div class="name-1">nado mabeobsa</div>
        <div class="name-2">프로필 편집</div>
        <div class="name-3">
            <img src="/static/setting.png" alt="세팅">
        </div>
    </div>
    <div class="tags">
        <div class="tag-1">게시물 <span style="font-weight: bold">9</span></div>
        <div class="tag-2">팔로워 <span style="font-weight: bold">300</span></div>
        <div class="tag-3">팔로우 <span style="font-weight: bold">1992</span></div>
    </div>
    <div class="name">
        <div class="myname">
            YUNJI LEE
        </div>
    </div>
</main>

<!--게시글-->
<footer>
    <div class="line">
        <hr>
    </div>
    <!--    버튼-->
    <div class="frame">
        <button class="custom-btn btn-1"><img src="/static/gride.png"
                                              style="width: 20px; height: 20px;margin-right: 10px; margin-bottom: 10px">게시글
        </button>
        <button class="custom-btn btn-1"><img src="/static/bookmark.png"
                                              style="width: 20px; height: 20px;margin-right: 10px; margin-bottom: 10px">저장됨
        </button>
        <button class="custom-btn btn-1"><img src="/static/profile.png"
                                              style="width: 20px; height: 20px;margin-right: 10px; margin-bottom: 10px">태그됨
        </button>
    </div>
    <!--    게시글 이미지-->
    <div class="grid-image">
        <img alt="" src="https://cdn.pixabay.com/photo/2020/10/16/15/04/herbs-5659780_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2020/10/16/15/00/gems-5659772_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2016/09/05/15/03/candle-1646765_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2020/04/15/16/31/japan-5047397_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2014/11/13/23/34/palace-530055_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2017/05/27/15/47/harry-potter-2348767_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2017/10/04/13/46/giratiempo-2816270_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2018/03/18/21/57/travel-3238442_960_720.jpg"/>
        <img alt="" src="https://cdn.pixabay.com/photo/2020/04/22/15/08/car-5078580_960_720.jpg"/>
    </div>
</footer>

</body>
</html>